// Alert Component Stylesheet
// ========================================

  .alert {
    &--error {
        background-color: $red;
        @include alert;
    }

    &--success {
      background-color: $green;
        @include alert;
    }

    &--notification {
      background-color: $grey;
      @include alert;
    }
  }
