// Alert Component Stylesheet
// ========================================

  .alert {
    &--error {
      @include alert;
      background-color: $red;
    }

    &--success {
      @include alert;
      background-color: $green;
    }

    &--notification {
      @include alert;
      background-color: $grey;
    }
  }
