// Button Component Stylesheet
// ========================================

.button {

  &--primary {
    @include button;
    margin: auto;
    margin-bottom: $spacer-m;
    background-color: $orange;

    @include media($extra-large) {
      float: left;
      margin-right: $spacer-m;
    }

    &:hover {
      @include hover;
      color: $orange;
      border-color: $orange;
    }
  }

  &--secondary {
    @include button;
    margin: auto;
    background-color: $blue;

    @include media($extra-large) {
      float: left;
    }

    &:hover {
      @include hover;
      color: $blue;
      border-color: $blue;
    }
  }

  &--disabled {
    @include button;
    background-color: $grey;
  }
}
