// Button Component Stylesheet
// ========================================

@mixin button {
  width: 120px;
  padding: $spacer-s;
  margin-bottom: $spacer-s;
  border-radius: 5px;
  @include component-text;
  text-align: center;
}

@mixin hover {
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
}

.button {
  &--primary {
    background-color: $blue;
    @include button;

    &:hover {
      color: $blue;
      border-color: $blue;
      @include hover;
    }
  }

  &--secondary {
    background-color: $green;
    @include button;
    &:hover {
      color: $green;
      border-color: $green;
      @include hover;
    }
  }

  &--disabled {
    @include button;
    background-color: $grey;
  }
}
