// Button Component Stylesheet
// ========================================

.button {
  &--primary {
    @include button;
    background-color: $blue;

    &:hover {
      @include hover;
      color: $blue;
      border-color: $blue;
    }
  }

  &--secondary {
    @include button;
    background-color: $green;

    &:hover {
      @include hover;
      color: $green;
      border-color: $green;
    }
  }

  &--disabled {
    @include button;
    background-color: $grey;
  }
}
