// Chip Component Stylesheet
// ========================================

.chip {
  width: 90%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding-bottom: $spacer-m;

  @include media($large) {
    width: 100%;
    max-width: 500px;
  }

  &--primary {
    @include chip;
    background-color: $orange;
  }
}

.title {
  font-weight: bold;
  padding-left: $spacer-s;
  padding-bottom: 0;
  padding-top: $spacer-s;

  &--light {
    font-weight: normal;
    color: $grey;
    font-size: 10pt;
  }
}
