// Chip Component Stylesheet
// ========================================

.chip {
  &--primary {
    @include chip;
    background-color: $orange;
  }

  &--secondary {
    @include chip;
    background-color: $blue;
    display: block;
    float: left;
  }
}

.title {
  font-weight: bold;
  padding-left: $spacer-s;
  padding-bottom: 0;
  padding-top: $spacer-s;

  &--light {
    font-weight: normal;
    color: $grey;
    font-size: 10pt;
  }
}
