// Form Elements Stylesheet
// ========================================

// Label Styling
.form {
  font-family: $secondary-font;
  font-size: 10pt;
  color: $grey;
}

// Basic Form Input Styling
.input {
  @include form;
  width: 100%;
  height: 20px;
  margin-bottom: $spacer-m;
  color: $black;
  background: transparent;
  font-size: 12pt;

  @include media($medium) {
    width: 490px;
  }

  @include media($extra-large) {
    width: 600px;
  }
}

// Select Form Input Styling
.select {
  @include form;
  width: 150px;
  height: 40px;
  font-size: 13pt;
  color: $orange;
}
