// Colors Variables Settings Stylesheet
// ========================================

$orange: #ee7047;
$blue: #4d9bb4;
$black: #2b2a2c;
$cream: #fefcfb;
$darkBlue: #274e5a;
$grey: #bdbdbd;
$red: #950000;
$green: #b4b45f;

// Main Palette List
$colors: (
  orange:    $orange,
  blue:     $blue,
  black:    $black,
  cream:  $cream,
  darkBlue: $darkBlue,
  grey: $grey,
  red: $red,
  green: $green,
);
