// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Text Colors Map
$type-colors: (
  'orange':     ( #ee7047 ),
  'blue':      ( #4d9bb4  ),
  'black':     ( #363538 ),
);
