// Base Layout Stylesheet
// ========================================

.header {
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: $grey;
  padding-top: $spacer-lg;
  padding-bottom: $spacer-lg;

  @include media($large) {
    padding-left: $spacer-xxl;
    padding-right: $spacer-xxl;
    padding-top: $spacer-lg;
    padding-bottom: $spacer-lg;
    text-align: left;
  }
}

.header__logo {
  width: 275px;

  @include media($medium) {
    width: 350px;
  }
}

.nav {
  width: 100%;
  padding-top: $spacer-m;

  @include media($large) {
    padding: $spacer-lg;
    width: 50%;
    float: right;
    text-align: right;
  }
}

.nav__links-pages {
  display: inline;
  padding: $spacer-m;

  @include media($large) {
    padding-left: 8%;
  }
}

.nav__links-pages a {
  text-decoration: none;
}

.nav__links-pages a:hover {
  color: $blue;
}

body {
  background-color: $cream;
}

.main {
  padding-left: $spacer-xs;
  padding-right: $spacer-xs;
  display: flex;
  padding-top: $spacer-lg;
  padding-bottom: $spacer-xxl;
  width: 80%;
  margin: auto;

  @include media($small) {
    display: inline;
    padding-left: $spacer-m;
    padding-right: $spacer-m;
  }

  @include media($medium) {
    padding-left: $spacer-xxl;
    padding-right: $spacer-xxl;
    justify-content: center;
  }

  @include media($extra-large) {
    display: flex;
  }

  &__section {
    margin: $reset-0;

    &--right {
      width: 90%;
      margin: auto;

      @include media($medium){
        width: 70%;
      }

      @include media($large) {
        width: 55%;
        margin-top: $spacer-m;
      }

      @include media($extra-large) {
        width: 50%;
        padding-left: $spacer-m;
        margin-top: $spacer-lg;
      }
    }

    &--left {
      visibility: hidden;
      width: 0%;

      @include media($small){
        padding: $spacer-m;
        width: 90%;
        margin: auto;
        text-align: center;
        visibility: visible;
      }

      @include media($medium) {
        width: 35%;
        margin-top: $spacer-xs;
      }
    }
  }
}

.demo {
  width: 200px;

  @include media($medium){
    width: 250px;
  }

  @include media($extra-large){
    width: 100%;
    max-width: 420px;
  }
}

.block {
  display: block;
  text-align: center;
  margin-top: $spacer-m;

  @include media($extra-large){
    float: left;
  }
}

.orange {
    background-color: $orange;
}

.blue {
    background-color: $blue;
}

.grey {
    background-color: $grey;
}

.cream {
    background-color: $cream;
}

.black {
  background-color: $black;
  border: 2px;
  border-color: $cream;
}

.darkBlue {
  background-color: $darkBlue;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

.footer {
  background-color: $black;
  text-align: center;
  width: 100%;
  padding-top: $spacer-lg;
  padding-bottom: $spacer-lg;
  margin-top: $spacer-m;
  position: fixed;
  left: 0;
  bottom: 0;
}
