// Base Layout Stylesheet
// ========================================

.header {
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: $grey;
  padding-top: $spacer-lg;
  padding-bottom: $spacer-lg;

  @include media($large) {
    padding-left: $spacer-xxl;
    padding-right: $spacer-xxl;
    padding-top: $spacer-lg;
    padding-bottom: $spacer-lg;
    text-align: left;
  }
}

.header__logo {
  width: 275px;

  @include media($medium) {
    width: 350px;
  }
}

.nav {
  width: 100%;
  padding-top: $spacer-m;

  @include media($large) {
    padding: $spacer-lg;
    width: 50%;
    float: right;
    text-align: right;
  }
}

.nav__links-pages {
  display: inline;
  padding: $spacer-m;

  @include media($large) {
    padding-left: 8%;
  }
}

.nav__links-pages a {
  text-decoration: none;
}

.nav__links-pages a:hover {
  color: $blue;
}

body {
    background-color: $cream;
}

.main {
  padding-left: $spacer-m;
  padding-right: $spacer-m;
  display: flex;
  justify-content: center;
  margin-top: $spacer-lg;

  @include media($medium) {
    padding-left: $spacer-xxl;
    padding-right: $spacer-xxl;
  }

  &__section {
    margin: $reset-0;

    &--right {
      width: 50%;
      padding-left: $spacer-m;
      margin-top: $spacer-m;
    }

    &--left {
      width: 35%;
      margin-top: $spacer-xs;
    }
  }
}

.demo {
  width: 100%;
  max-width: 420px;
}

.block {
  display: block;
  float: left;
  margin-top: $spacer-m;
}

.orange {
    background-color: $orange;
}

.blue {
    background-color: $blue;
}

.grey {
    background-color: $grey;
}

.cream {
    background-color: $cream;
}

.black {
  background-color: $black;
  border: 2px;
  border-color: $cream;
}

.darkBlue {
  background-color: $darkBlue;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

.footer {
  background-color: $black;
  text-align: center;
  width: 100%;
  padding: $spacer-lg;
  position: absolute;
  bottom:0;
}
