// Base Typography Stylesheet
// ========================================

// Font Families
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

h2, h3, h4, h5, h6 {
   font-family: $primary-font;
   font-weight: 400;
}

h1 {
  font-family: $primary-font;
  color: $orange;
  font-weight: 800;
  line-height: 38pt;
  font-size: 36pt;
  margin-bottom: $spacer-m;
}

h2 {
  color: $blue;
  font-size: 28pt;
  line-height: 30pt;
  margin-bottom: $spacer-m;
}

h3 {
  color: $grey;
  font-size: 20pt;
  line-height: 22pt;
  margin-bottom: $spacer-m;
}

h4 {
  color: $blue;
  font-size: 16pt;
}

h5 {
  color: $blue;
  font-size: 14pt;
}

h6 {
  color: $blue;
  font-size: 12pt;
}

p {
  font-family: $secondary-font;
  color: $black;
  font-size: 12pt;
  padding-bottom: 1%;
}

a {
  font-family: $secondary-font;
  color: $orange;
  font-size: 12pt;

  &:hover {
    text-decoration: none;
  }
}

.footer-text {
  color: $cream;
  font-size: 12pt;
  padding: 0;
}
