// Alert Mixin Settings Stylesheet
// ========================================

@mixin alert {
  @include component-text;
  width: 250px;
  padding: $spacer-s;
  margin-bottom: $spacer-s;
  border-radius: 5px;
}
